#kwadraty {
    margin-left: 28px;
    color: white;   
}
.kwadrat {
    
    width: 150px;
    height: 150px;
    background-color: #fea500;
    margin-left: 40px;
}
.box {
    width: 400px;
    height: 850px;
    background-color: #808080;
}


